/* layout features */

.features {
    @extend %section;

    &__subtitle {
        color: var(--second-cl);
        margin-bottom: 10px;
    }

    &__descr {
        color: var(--main-cl);
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__item {
        flex-basis: 270px;
    }

    &__icons {
        display: flex;
        width: 270px;
        height: 120px;
        background: var(--rare-bg-cl);
        border-radius: 4px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
    }
}

