/* layout header */

.header {
    border-bottom: 1px solid var(--border-header-cl);
    margin-left: auto;
    margin-right: auto;
}

.header__container {
    display: flex;
    align-items: center;
}