/* components title */

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--second-cl);
    margin-top: 0;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
}

