/* base common */

.body {
    background: var(-main-bg-cl);
    color: var(--main-cl);
    font-family: var(--main-font), sans-serif;
    font-style: normal;

    @include fonts (400, 14px, 1.71, .03em);

    &.no-scroll {
        overflow: hidden;
}
}
